/* Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */
:global #reputation {
    font-family: 'Gotham-Book';
    src:font-url('Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 1.0em;
}