.wrapper {
    font-family: 'Gotham-Book', sans-serif;
    font-size: 1.0em;
    line-height: 1.4em;
    list-style-type: none;
    text-align: justify;
    float:right;
    margin-right:10px;
}


.title {
    font-weight:bold;
    text-align:center;
}