@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic);

.logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    font-family: 'Gotham-Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f21e40;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 9px;
    font-weight: bold;
    list-style-type: none;

    & img {
        width: 125px;
    }
}

:global .navbar-custom {
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    text-transform: uppercase;
    font-family: 'Gotham-Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    background-color: #fff;

    & .navbar-brand {
        padding-top: 12px;
        font-weight: 700;
    }

    & .navbar-toggle {
        border: 1px solid #f21e40;

        & .icon-bar {
            background-color: #f21e40;
        }
    }

    & .nav li {
        color: #f21e40;

        &:global(.active) {
            color: #333;
        }

        & a:hover,
        & a:active,
        & a:focus {
            color: #333;
            outline: 0;
            background-color: transparent;
        }
    }

    & a {
        color: inherit;
    }

}
